{% extends 'base.html.twig' %}
{% block body %}
    <section class="bg-secondary" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto text-center">
                    <h2 class="section-heading text-white">Патерни проектування</h2>
                    <hr class="light my-4">
                </div>
            <p class="text-faded mb-4">Шаблон проектування або патерн (англ. Design pattern) в розробці програмного забезпечення - повторювана архітектурна конструкція, що представляє собою розв'язання проблеми проектування в рамках деякого часто виникаючого контексту.</p>
            </div>
         <p class="text-faded mb-4">Зазвичай шаблон не є закінченим зразком, який може бути прямо перетворений в код; це лише приклади розв'язання задач, який можна використовувати в різних ситуаціях.<br/>
             Об'єктно-орієнтовані шаблони показують відносини і взаємодії між класами або об'єктами, без визначення того, які кінцеві класи або об'єкти додатки будуть використовувати.<br/>
         «Низькорівневі» шаблони, що враховують специфіку конкретної мови програмування, називаються ідіомами. Це хороші приклади проектування, характерні для конкретної мови або програмної платформи, і тому не універсальні.<br/>
             На найвищому рівні існують архітектурні шаблони, вони охоплюють собою архітектуру всієї програмної системи.<br/>

             Алгоритми за своєю суттю також є шаблонами, але не проектування, а обчислення, так як вирішують обчислювальні завдання.</p>
        </div>
        <table class="table">
            <tbody>

            {% for item in id %}
                <tr>
                    <td scope="row">{{ item.name }}</td>
                    <tr><td scope="row">{{ item.link }} грн.</td></tr>
            {% endfor %}

            </tbody></table>
    </section>
{% endblock %}